.gridcontainer {display:grid;
                grid-template-columns:repeat(1fr, 4);
                grid-template-rows: repeat(1fr, 6);
                gap:0.3em;}
.grid1 {display:grid;
        grid-column:1 /5;
        grid-row:1;}

.grid2 {display:grid;
            grid-column:1 /5;
            grid-row:2;}

.grid3 {display:grid;
                grid-column:1 /5;
                grid-row:3;
                background-color:pink;
                text-align:center;}

 .grid4 {display:grid;
                    grid-column:1 /5;
                    grid-row:4;
                    background-color:lightblue;
                    text-align:center;}

 .grid5 {display:grid;
                        grid-column:1 /5;
                        grid-row:5/7;
                        background-color:lightblue;
                        text-align:center;
                        justify-content:center;
                        }

            h2              {text-align:center;}

            button          {width:90px;
                             border-radius:25%;
                            align-content:center;}

                        }
                        .container{
                            background-color: white;
                            
                            
                        }
                        header{
                            display: flex;
                            flex-direction: column;
                            padding: 30px;
                        }
                        
                        
                        
                        h1{
                            text-align: center;
                            
                        }
                        p{
                            text-align: center;
                        }
                        main{
                            display: flex;
                            width: 80%;
                            height: 50%;
                            margin: 20px;
                            padding: 30px;
                            background-color:aquamarine
                        }
                           article{
                            justify-content: center;
                            margin: 50px;
                
                           }
                        
                        img{
                            width: 200px;
                            height: 200px;
                             }
                        .btn{
                            text-align: center;
                            padding: 20px;
                        }
                        .btn{
                            align-items: center;
                        }
                               



                            .d-grid {

                                display: grid;
                                grid-template-columns: repeat(4, 1fr);
                                grid-template-areas:
                                "header header header header"
                                "main main main main"
                                "footer footer footer footer";
                                width: 60vw;
                                margin: 0 auto;


                            }

                            div.header {
                                grid-area: header;
                                height: 100px;
                                display: flex;
                                justify-content: center;
                                align-items: center;

                            }

                            div.main {

                                grid-area: main;
                                display: flex;
                                gap: 20px;

                            }


                            div.footer {
                                grid-area: footer;
                                background-color: lightblue;
                                height: 100px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                flex-direction: column;
                                margin-top: 20px;
                                gap: 20px;


                            }


                            .border {
                                border-bottom: 0.3rem solid gray;

                            }

                            hr {

                                background-color: gray;
                                height: 0.3rem;
                                width: 200px;
                                margin: 0 auto;
                                margin-top: 10px;
                            }

                            *{
                                margin: 0;
                                padding: 0;
                                box-sizing: border-box;
                          
